@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    overflow-x: hidden;
}
svg:nth-child(1){
    top: 10vh;
    left: 0vw;
    width: 90vw;
    /* box-shadow: 1px 1px 5px black; */
    filter: drop-shadow(0px 0px 50px #9daeb6);
    /* transform: rotateX(180deg); */
}
#sw-js-blob-svg2{
    overflow: visible;
    width: 150vw;
     /* transform: rotateX(45deg); */
    filter: drop-shadow(0px 0px 50px #9daeb6);
    z-index: 1;
}
#nav{
    position: absolute;
    top: 10vh;
    left: 17vw;
    width: auto;
}
#nav ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1vh;
    column-gap: 2vw;
    transition: 0.1s;
}
#nav ul li{
    display: flex;
    /* position: relative;
    margin: 0.2vw; */
    list-style: none; 
    font-size: 1.1vw;
    font-weight: 600;
}
#nav ul li a{
    color: black;
    text-decoration: none;
}
#nav ul li a:hover{
    color: #1037a5;
    cursor: pointer;
}
#logo{
    position: absolute;
    top: 14vh;
    left: 13vw;
    width: 12vw;
}
#main-head-p{
    position: absolute;
    top: 38vh;
    left: 13vw;
    font-size: 4vw;
    font-weight: 600;
    width: 42vw;
    transition: 0.2s;
}
#main-head-p b{
    color: #1037a5;
    transition: 0.1s;
}
#main-head-p b:hover{
    cursor: pointer;
}
#main-girl{
    position: absolute;
    width: 45vw;
    overflow: visible;
    filter: drop-shadow(0 0 500px rgb(118, 160, 238));
    z-index: 10;
    /* transform: rotatey(3deg); */
}
#main-sub-p{
    position: absolute;
    top: 72vh;
    left: 13vw;
    font-size: 1.1vw;
    width: 25vw;
    transition: 0.2s;
    color: #808080;
}
#main-leaves{
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 70%;
    filter: opacity(0.5);
}
#btn-sgnup{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 85vh;
    left: 13vw;
    width: 12vw;
    height: 7vh;
    font-size: 1vw;
    border-radius: 50px;
    color: #ffffff;
    background: #0097DE;
    transition: 0.5s;
    background: rgb(22,19,84);
    background: -moz-linear-gradient(117deg, rgba(22,19,84,0.9668242296918768) 15%, rgba(0,151,222,1) 100%);
    background: -webkit-linear-gradient(117deg, rgba(125, 119, 235, 0.967) 15%, rgba(0,151,222,1) 100%);
    background: linear-gradient(-117deg, rgba(76, 71, 179, 0.967) 35%, rgb(0, 115, 222) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#161354",endColorstr="#0097de",GradientType=1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                inset 0 4px 8px rgba(0,0,0,0.07), 
                inset -0 -8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
#btn-sgnup:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#head1{
    position: absolute;
    top: 103vh;
    left: 25vw;
    font-size: 3.3vw;
    transition: 0.2s;
}
b{
    color: #1037a5;
}
#head1-p{
    position: absolute;
    top: 117vh;
    left: 32vw;
    width: 35vw;
    font-size: 1.1vw;
    transition: 0.2s;
    text-align: center;
    color: #5c5b5b;
    font-weight: 500;
}
#yoga-block{
    position: absolute;
    display: grid;
    grid-template-columns: 24vw 24vw 24vw;
    grid-template-rows: 60vh;
    column-gap: 2vw;
    top: 145vh;
    left: 12.5vw;
    width: auto;
    height: auto;
}
#yoga-block span{
    display: flex;
    flex-direction: column;
    /* border: 1px dotted black; */
    border-radius: 60px;
    padding:2vw;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(360deg, rgba(107,146,255,0.7959558823529411) 34%, rgba(255,255,255,1) 83%); */
    background: rgba(16, 56, 165, 0.048);
    z-index: 10;
    
}
#yoga-block span img{
    width: 10vw;
    z-index: 10;
}
#yoga-block span p{
    position: relative;
    top: 6vh;
    text-align: center;
    z-index: 10;
    font-size: 1vw;
    color: #808080;
}
#yoga-block span h2{
    position: relative;
    top: 5vh;
    font-size: 1.3vw;
    color: #1037a5;
    font-weight: bolder;
}
/* #blck1{
    position: relative;
    overflow: visible;
} */
#yoga-studio{
    position: absolute;
    top: 205vh;
    left: 0;
    width: auto;
    height: auto;
    display: flex;
    /* background: #0098de52; */
}
#yoga-studio img{
    position: relative;
    width: 45vw;
}
#yoga-studio div{
    position: relative;
    top: 15vh;
    left: 7vw;
    background: rgba(240, 244, 253, 0.384);
    box-shadow: 0 0 500px rgb(240, 244, 253);
}
#yoga-studio h3{
    font-size: 6vh;
}
#yoga-studio p{
    position: relative;
    top: 3vh;
    width: 35vw;
    font-size: 2.3vh;
    color: #808080;
}
#yoga-studio-box{
    position: relative;
    top: 60vh;
    left: -28vw;
    /* top: 40vh; */
    display: grid;
    grid-template-columns: 10vw 12vw 10vw;
    grid-template-rows: 15vh;
    column-gap: 2vh;
    
}
#yoga-studio-box span:nth-child(1){
    position: relative;
    top: -0.2vh;
}
#yoga-studio-box sup{
    font-size: 4vh;
}
#yoga-studio-box h3{
    color: #1037a5;
}
#yoga-studio-box p{
    position: relative;
    top: 0;
}
#head2{
    position: absolute;
    top: 295vh;
    left: 42vw;
    font-size: 3.3vw;
    transition: 0.2s;
}
#head2-p{
    position: absolute;
    top: 305vh;
    left: 30vw;
    width: 40vw;
    font-size: 1.1vw;
    transition: 0.2s;
    text-align: center;
    color: #808080;
}
#yoga-toggle{
    position: absolute;
    top: 310vh;
    left: 12vw;
}
#yoga-scroll{
    position: relative;
    height: 50vh;
    left: 9vw;
    /* overflow-x: scroll; */
    overflow: hidden;
    transition: 0.5s;
    /* transform: translateX(-300px); */
}
#yoga-scroll div{
    display: grid;
    grid-template-columns: 18vw 18vw 18vw 18vw 18vw 18vw 18vw 18vw;
    grid-template-rows: 45vh;
    column-gap: 2vw;
    width: 58vw;
    transform: translateX(0);
    transition: 0.5s;
}
#yoga-scroll span{
    display: flex;
    flex-direction: column;
    /* border: 1px dotted black; */
    border-radius: 60px;
    padding:1vw;
    /* justify-content: center; */
    align-items: center;
    /* background: linear-gradient(360deg, rgba(107,146,255,0.7959558823529411) 34%, rgba(255,255,255,1) 83%); */
    background: rgba(16, 56, 165, 0.075);
    z-index: 10;
    /* box-shadow: 0px 0px 100px #c4cada ; */
    transition: 0.5s;
}
#yoga-scroll span img{
    position: relative;
    top: 3vh;
    width: 10vw;
    z-index: 10;
}
#yoga-scroll span p{
    position: relative;
    top: 8vh;
    text-align: center;
    z-index: 10;
    font-size: 1vw;
    line-height: 2vh;
    color: #808080;
}
#yoga-scroll span h3{
    position: relative;
    top: 7vh;
    font-size: 1.5vw;
    line-height: 1vh;
    color: #1037a5;
}
.tg-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #808080;
    border-radius: 50%;
    font-size: 2vh;
    transition: 0.3s;
}
.tg-btn:hover{
    background-color: #1037a5;
    border: 0px;
    color: white;
}
.btn-left{
    top: 30vh;
    left: 1vw;
}
.btn-right{
    top: 26vh;
    left: 73vw;
}
#yoga-box2{
    position: absolute;
    top: 385vh;
    left: 10vw;
    width: auto;
    height: auto;
}
#yoga-box2 #yoga-box2-head{
    position: relative;
}
#yoga-box2 #yoga-box2-head h3{
    font-size: 6vh;
}
#yoga-box2 #yoga-box2-head p{
    position: relative;
    top: 4vh;
    font-size: 2.3vh;
    width: 40vw;
    color: #808080;
}
#yoga-box2 div{
    position: relative;
    top: 10vh;
    display: grid;
    grid-template-columns: 13vw 13vw;
    column-gap: 8vw;
}
#yoga-box2 div h4{
    font-size: 6vh;
    color: #1037a5;
}
#yoga-box2 div p{
    position: relative;
    top: 0vh;
    color: #808080;
    font-size: 2.3vh;
}
#yoga-box2 img{
    position: relative;
    top: -50vh;
    left: 45vw;
    width: 70%;
    height: 70%;
}
#teachers{
    position: absolute;
    top: 460vh;
    /* left: 10vw; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0097DE; */
}
#teachers div:first-child h3{
    position: relative;
    font-size: 3.3vw;
    display: flex;
    justify-content: center;
}
#teachers div:first-child p{
    position: relative;
    top: 2vh;
    color: #808080;
    font-size: 1.1vw;
    text-align: center;
}
#teachers div:nth-child(2){
    position: absolute;
    top: 25vh;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    column-gap: 2vh;
    /* left: 10vw; */
}
#teachers div:nth-child(2) span{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#teachers div:nth-child(2) span img{
    width: 70%;
    height: 70%;
    border-radius: 50%;
}
#teachers div:nth-child(2) span h3{
    margin-top: 2vh;
    font-size: 1.5vw;
}
#teachers div:nth-child(2) span p{
    top: 0vh;
    width:16vw ;
    color: #808080;
    font-size: 1.1vw;
    text-align: center;
}
#gallery{
    position: absolute;
    top: 540vh;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
#gallery h3{
    position: relative;
    font-size: 3.3vw;
    display: flex;
    justify-content: center;
}
#gallery div{
    position: absolute;
    top: 15vh;
    width: auto;
    height: auto;
    /* background-color: #9daeb6; */
    display: grid;
    grid-template-columns: 20vw 15vw 15vw 20vw;
    grid-template-rows: 50vh 50vh 50vh;
    column-gap: 2vw;
    row-gap: 2vh;
}
#gallery div img{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1037a5;
    border-radius: 5vh;
    overflow: hidden;
}
#gallery div img:nth-child(2){
    grid-column: 2 / span 2;
    grid-row: 1;
}
#gallery div img:nth-child(4){
    grid-column: 1 / span 2;
    grid-row: 2;
}
#gallery div img:nth-child(5){
    grid-column: 3 / span 2;
    grid-row: 2;
}
#gallery div img:nth-child(7){
    grid-column: 2 / span 2;
    grid-row: 3;
}
#footer{
    position: relative;
    top: 190vh;
    width: 100%;
    height: 250vh;
    font-size: 9vh;
    background-image: url('img/footer-bg.jpg');
    background-size: 100% 250vh;
    background-color: #5070a0;
    background-repeat: no-repeat;
    clip-path: polygon(50% 0%, 80% 10%, 100% 0, 100% 100%, 0 100%, 0 0, 20% 10%);
    background-blend-mode: multiply;
    overflow: hidden;
}
#signup{
    position: relative;
    top: 70vh;
    left: 15vw;
    width: 25vw;
    height: 63vh;
    color: white;
    border-radius: 7vh;
    padding: 3vw;
    background-color: #0098de0c;
    backdrop-filter: blur(2px) ;
}
#signup h3{
    font-size: 2.9vw;
    font-weight: 600;
}
#signup-text{
    margin-top: 2vh;
    font-size: 1.1vw;
}
#signup input{
    position: relative;
    outline: 0px;
    border-bottom: 1px solid white;
    color: white;
    background: transparent;
    display: inline-block;
    padding: 0px;
    margin-top: 4vh;
    font-size: 1.1vw;
    font-weight: 400;
    width: 18vw;
    height: 4vh;
    /* font-family: 'Barlow Semi Condensed', sans-serif; */
}
#signup label{
    position: absolute;
    left: 3vw;
    color: #9daeb6;
    font-weight: 200;
    font-size:1vw ;
    transition: 0.4s;
}
#signup label[for="name"]{
    top: 32vh;
}
#signup label[for="phone"]{
    top: 40vh;
}
#checkbox{
    position: absolute;
    margin-top: 2vh;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
#checkbox i{
    font-size: 1.2vh;
    color: white;
    display: none;
    transition: 0.4s;
}
#check-privacy-text{
    position: relative;
    left:1.5vw ;
    margin-top:1.7vh;
    color: #808080;
    font-size:1.1vw ;
}
#signup button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4vh;
    /* left: 4vw; */
    width: 12vw;
    height: 6vh;
    font-size: 1.6vw;
    font-size: 1vw;
    border-radius: 50px;
    color: #ffffff;
    background: #0097DE;
    transition: 0.5s;
    background: rgb(22,19,84);
    background: -moz-linear-gradient(117deg, rgba(22,19,84,0.9668242296918768) 15%, rgba(0,151,222,1) 100%);
    background: -webkit-linear-gradient(117deg, rgba(125, 119, 235, 0.967) 15%, rgba(0,151,222,1) 100%);
    background: linear-gradient(-117deg, rgba(76, 71, 179, 0.967) 35%, rgb(0, 115, 222) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#161354",endColorstr="#0097de",GradientType=1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                inset 0 4px 8px rgba(0,0,0,0.07), 
                inset -0 -8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

/* scroll bar */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: #0097DE; 
    /* border-radius: 10px; */
  }
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

#footer-bar{
    position: relative;
    top: 70vh;
    left: 0;
    width: 100%;
    height: 120vh;
    background: linear-gradient(0deg, rgba(0,0,0,1) 45%, rgba(64,64,64,0) 100%);
    display: flex;
    justify-content: center;

}
#footer-bar div:nth-child(1){
    position: relative;
    top: 70vh;
    left: 0;
    width: 70%;
    height: 35vh;
    /* border:2px solid white ; */
    color: white;
    display: grid;
    grid-template-columns: 12vw 10vw 13vw auto;
    column-gap: 3vw;
    font-size: 1.1vw;
    line-height: 0vh;
    margin: 0;
}
#footer-bar div:nth-child(1) b{
    color: rgba(0, 117, 250, 0.967);
}
#footer-bar div:nth-child(1) span{
    position: relative;
    /* border:2px solid #b30000; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#footer-bar div:nth-child(1) span:nth-child(1){
    align-items: center;
}
#footer-bar div:nth-child(1) span:nth-child(1) section{
    position: absolute;
    top: 25vh;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2vw;
}
#footer-bar div:nth-child(1) span:nth-child(1) section i{
    font-size: 1.1vw;
}
#footer-bar div:nth-child(1) p{
    line-height: 2.5vh;
}
#footer-bar div:nth-child(1) span:nth-child(2) ul{
    position: absolute;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 3vh auto auto auto auto auto auto;
    row-gap: 5vh;
    transition: 0.1s;
}
#footer-bar div:nth-child(1) span:nth-child(3) ul{
    position: absolute;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 3vh auto auto auto ;
    row-gap: 5vh;
    transition: 0.1s;
}
#footer-bar div:nth-child(1) ul li{
    display: flex;
    /* position: relative;
    margin: 0.2vw; */
    list-style: none; 
    font-size: 1.1vw;
    font-weight: 500;
}
#footer-bar div:nth-child(1) ul li a{
    color: white;
    text-decoration: none;
}
#footer-bar div:nth-child(1) ul li a:hover{
    color: rgba(0, 117, 250, 0.967);
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    #footer-bar{
        top:100vh;
    }
    #footer{
        height: 280vh;
    }
    #signup{
        top: 100vh;
    }
    #signup label[for="name"]{
        top: 30vh;
    }
    #signup label[for="phone"]{
        top: 38vh;
    }
    #check-privacy-text{
        left: 1.8vw;
        margin-top:2vh;
    }
  }
